<mat-card class="my-3">
    <label for=""></label>
    <button *ngIf="product.AvailablePieces < 10 " mat-button (click)="editQuantity(product)">edit</button>
    <mat-card-header>
        <mat-card-title>{{product.ProductName}}</mat-card-title>
        <mat-card-subtitle>{{product.ProductPrice}} $</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.ProductImg" [alt]="product.ProductName">
    <mat-chip class="my-2" *ngIf="product.AvailablePieces < 10 && product.AvailablePieces !== 0">Low in Stock</mat-chip>
    <mat-chip class="my-2" *ngIf="product.AvailablePieces === 0">Out of Stock</mat-chip>
</mat-card>