<div class="order-card my-2">
    <div class="order-header">
        <h3 class="order-number">Order #{{ order.OrderId }}</h3>
        <p class="order-date">Date: {{order.OrderDate | date}}</p>
    </div>
    <div class="order-details">
        <p class="total-price">Total Price: {{ order.totalPrice | currency }}</p>
        <p class="payment-method">Payment Method: {{ order.PaymentType }}</p>
    </div>
    <button class="view-details-button" (click)="showDetails(order)">View Details</button>
</div>